# In Juce Plugins, the folders Builds and JuceLibraryCode will be recreating their files
# As soon as we modify sonething in the Plugin.

# I want git to ignore Changes in the Following Directories:
*/Builds
*/JuceLibraryCode
